-content_for(:title, @make.name)
-content_for(:nav) do
  %p=link_to "<< Back", base_path
  %p
    =render partial: "_shared/nav_item_display", locals: {nav_items: @make.models} do |model|
      =link_to model.name, model_path(@make, model)

-@make.works[0..9].each do |work|
  .workImage
    =image_tag work.thumbnail
  