-content_for(:title, @make.name)
-content_for(:nav) do
  %p=link_to "<< Back", base_path
  %p
    -@make.models.each_with_index do |model, index|
      -if index > 0
        |
      =link_to model.name, model_path(@make, model)

-@make.works[0..9].each do |work|
  .workImage
    =image_tag work.thumbnail
  