-content_for(:title, "Works List")
-content_for(:nav) do
  =render layout: "_shared/nav_item_display", locals: {nav_items: Make.all} do |make|
    =link_to make.name, make_path(make)

-Work.all[0..9].each do |work|
  =image_tag work.thumbnail, class: "workImage"
  