!!! 5
<!DOCTYPE html>
%html
  %head
    %title
      =yield :title
      
    -#These would probably be used in a prod environment over an inline style. However the test provides this template.
    -# =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    -# =javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# =csrf_meta_tags
    
    :css
      nav {
        margin: 10px;
      }
%body
  %header
    %h1
      =yield :title
    %nav
      =yield :nav
  #content{class: ("controller-#{controller.controller_name} action-#{controller.action_name}")}
    =yield
